<h2>A selection of plants:</h2>
<div>
    <% plants.forEach((plant, index) => { %>
      <a href="plants/<%= plant._id %>">
        <div>
          <%- plantsImageTags[index] %>
          <span class="plant-name"><%= plant.CommonName %></span>
        </div>
      </a>
    <% }) %>
  </div>