<h2>A selection of plants:</h2>
<div>
    <% plants.forEach((plant, index) => { %>
      <a href="plants/<%= plant._id %>">
        <%- plantsImageTags[index] %>
        <h3><%= plant.CommonName %></h3>
      </a>
    <% }) %>
  </div>