@media(min-width: 768px) {
    .news-input{
        width: 50%;
    }
}

@media(max-width: 768px) {
    .plant-card {
        text-align:center;
    }
}


.navbar a:focus, a.dropdown-item:active{
    background-color: #28a745 !important;
}

.form-signin {
    width: 50%;
    margin: 0 auto;
}

footer i {
    font-size: 2rem;
}

.navbar-brand, h1, h2, h3, h4, h5, .h1, .h2, .h4{
    font-family: 'Patrick Hand', cursive;
}

.navbar-brand {
    font-size: 2.5rem;
}

h1{
    font-size: 3.5rem;
}

h2, .h2{
    font-size: 2.5rem;
}

.h4 {
    display:inline-block;
}

body{
    font-family: 'Karla', sans-serif;
}

.care-needs-search [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.care-needs-search [type=radio] + svg {
    cursor: pointer;
  }
  
.care-needs-search [type=radio]:checked + svg {
    fill: #FFCC00;
}

.button-center{
    margin: 0 auto;
}


@media screen and (min-width: 650px) {
    .mobile-visible{
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .mobile-hidden {
        display:none;
    }
    .mobile-visible {
        display: inline-block;
    }
}