<h1 class="text-success text-center mt-5 border-bottom pb-3">Plant Collection</h1>


<div class="container">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addPlant"><i class="bi bi-plus-circle"></i> Add Plant </button>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addLocation"><i class="bi bi-plus-circle"></i> Add Location </button>
</div>
<!-- Button trigger modal -->

<div class="modal fade" id="addPlant" tabindex="-1" aria-labelledby="addPlantLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-success" id="addPlantLabel">Add Plant</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%- include('../partials/addPlant.ejs') %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addLocation" tabindex="-1" aria-labelledby="addLocationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-success" id="addLocationLabel">Add Location</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%- include('../partials/addLocation.ejs') %>
      </div>
    </div>
  </div>
</div>
