  <!-- <form >
    <div class="error" style="background-color: red;"></div><br>
    <label for="username">Username</label><br>
    <input type="text" id="username" required/><br>
    <label for="password">Password</label><br>
    <input type="password" id="password" required><br>
    <input type="submit" value="register"><br>
  </form>
  <a href="/login">Already registered? Login</a> -->

  <main class="form-signin text-center mt-4">
    <form>
      <i class="bi bi-flower3 text-warning mb-4 display-3"></i>
      <h1 class="h2 mb-5 fw-normal">Register</h1>
  
      <div class="form-floating">
        <input type="text" class="form-control mb-3" id="username" placeholder="Username" name="username" required>
        <label for="username">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control mb-3" id="password" placeholder="Password" name="password" required>
        <label for="password">Password</label>
      </div>
  
      <button class="w-100 btn btn-lg btn-success mb-3" type="submit" value="register">Register</button>
      <div class="error" style="color: red;"></div><br>
      <a href="/login" class="text-success">Already have an account? Login</a>
    </form>
  </main>
  <script>
    const form = document.querySelector('form')
    const username = document.querySelector('#username')
    const password = document.querySelector('#password')
    const display = document.querySelector('.error')
     form.addEventListener('submit', async (e) => {
        e.preventDefault()
        display.textContent = ''
        try {
          const res = await fetch('/auth/register', {
            method: 'POST',
            body: JSON.stringify({ username: username.value, password: password.value }),
            headers: { 'Content-Type': 'application/json' }
          })
          const data = await res.json()
          console.log(data)
          if(res.status === 400 || res.status === 401){
           return display.textContent = `${data.message}. ${data.error ? data.error : ''}`
          }
          data.role === "admin" ? location.assign('/admin') : location.assign('/basic')
        } catch (err) {
          console.log(err.message)
        }
      })
  </script>