<h2>Search Plants</h2>
<h3>Seach by name:</h3>
<form action="/plants/search" method="GET">
  <div>
    <label>Common Name</label>
    <input type="text" name="CommonName" value="<%= searchOptions.CommonName %>">
  </div>
  <div>
    <label>Botanical Name</label>
    <input type="text" name="BotanicalName" value="<%= searchOptions.BotanicalName %>">
  </div>
  <button type="submit">Search</button>
</form>

<h3>Search by care needs:</h3>
<form action="/plants/search" method="GET">
  <div>
    <fieldset>
      <legend>Light needs:</legend>
        <input type="radio" id="light0" name="light_needs" value="0">
        <label for="light0">Lowest Light</label>
        <input type="radio" id="light1" name="light_needs" value="1">
        <label for="light1">Low Light</label>
        <input type="radio" id="light2" name="light_needs" value="2">
        <label for="light2">Mid Light</label>
        <input type="radio" id="light3" name="light_needs" value="3">
        <label for="light3">High Light</label>
        <input type="radio" id="light4" name="light_needs" value="4">
        <label for="light4">Highest Light</label> 
    </fieldset>
  </div>
  <div>
    <fieldset>
      <legend>Temperature:</legend>
      <input type="radio" id="temperature0" name="temperature" value="0">
      <label for="temperature0">Lowest Temperature</label> 
        <input type="radio" id="temperature1" name="temperature" value="1">
        <label for="temperature1">Low Temperature</label>
        <input type="radio" id="temperature2" name="temperature" value="2">
        <label for="temperature2">Mid Temperature</label>
        <input type="radio" id="temperature3" name="temperature" value="3">
        <label for="temperature3">High Temperature</label>
        <input type="radio" id="temperature4" name="temperature" value="4">
        <label for="temperature4">Highest Temperature</label>
    </fieldset>
  </div>
  <div>
    <fieldset>
      <legend>Humidity:</legend>
        <input type="radio" id="humidity0" name="humidity" value="0">
        <label for="humidity0">Lowest Humidity</label>
        <input type="radio" id="humidity1" name="humidity" value="1">
        <label for="humidity1">Low Humidity</label>
        <input type="radio" id="humidity2" name="humidity" value="2">
        <label for="humidity2">Mid Humidity</label>
        <input type="radio" id="humidity3" name="humidity" value="3">
        <label for="humidity3">High Humidity</label>
        <input type="radio" id="humidity4" name="humidity" value="4">
        <label for="humidity4">Highest Humidity</label> 
    </fieldset>
  </div>
  <div>
    <fieldset>
      <legend>Water:</legend>
        <input type="radio" id="water0" name="water" value="0">
        <label for="water0">Lowest Water</label>
        <input type="radio" id="water1" name="water" value="1">
        <label for="water1">Low Water</label>
        <input type="radio" id="water2" name="water" value="2">
        <label for="water2">Mid Water</label>
        <input type="radio" id="water3" name="water" value="3">
        <label for="water3">High Water</label>
        <input type="radio" id="water4" name="water" value="4">
        <label for="water4">Highest Water</label> 
    </fieldset>
  </div>
  <div>
    <fieldset>
      <legend>Soil Mix:</legend>
        <input type="radio" id="soil0" name="soil" value="0">
        <label for="soil0">Soil Mix 1</label>
        <input type="radio" id="soil1" name="soil" value="1">
        <label for="soil1">Soil Mix 2</label>
        <input type="radio" id="soil2" name="soil" value="2">
        <label for="soil2">Soil Mix 3</label>
        <input type="radio" id="soil3" name="soil" value="3">
        <label for="soil3">Soil Mix 4</label>
        <input type="radio" id="soil4" name="soil" value="4">
        <label for="soil4">Soil Mix 5</label> 
    </fieldset>
  </div>
  <button type="submit">Search</button>
</form>
<div>
  <% plants.forEach((plant, index) => { %>
    <a href="/plants/<%= plant._id %>">
      <%- plantsImageTags[index] %>
    </a>
  <% }) %>
</div>