<h2>Search Plants</h2>
<h3>Seach by name:</h3>
<form action="/plants/search" method="GET">
  <div>
    <label>Common Name</label>
    <input type="text" name="CommonName" value="<%= searchOptions.CommonName %>">
  </div>
  <div>
    <label>Botanical Name</label>
    <input type="text" name="BotanicalName" value="<%= searchOptions.BotanicalName %>">
  </div>
  <button type="submit">Search</button>
</form>

<h3>Search by care needs:</h3>
<form action="/plants/search" method="GET">
  <div>
    <fieldset>
      <legend>Light needs:</legend>
        <input type="radio" id="light0" name="Light" value="low">
        <label for="light0">Low Light (25 ft-c to 75 ft-c)</label>
        <input type="radio" id="light1" name="Light" value="medium">
        <label for="light1">Medium Light (75 ft-c to 200 ft-c)</label>
        <input type="radio" id="light2" name="Light" value="high">
        <label for="light2">High Light (Over 200 ft-c, but not direct sun)</label>
        <input type="radio" id="light3" name="Light" value="sunny">
        <label for="light3">Sunny Light (At least 4 hours of direct sun)</label>
    </fieldset>
  </div>
  <div>
    <fieldset>
      <legend>Temperature:</legend>
      <input type="radio" id="temperature0" name="Temperature" value="cool">
      <label for="temperature0">Cool: 50°F night, 65°F day temperatures</label> 
        <input type="radio" id="temperature1" name="Temperature" value="medium">
        <label for="temperature1">Average: 65°F night, 75°F day temperatures</label>
        <input type="radio" id="temperature2" name="Temperature" value="warm">
        <label for="temperature2">Warm: 70°F night, 85°F day temperatures</label>
    </fieldset>
  </div>
  <div>
    <fieldset>
      <legend>Humidity:</legend>
        <input type="radio" id="humidity0" name="RelativeHumidity" value="low">
        <label for="humidity0">Low: 5% to 24%</label>
        <input type="radio" id="humidity1" name="RelativeHumidity" value="average">
        <label for="humidity1">Average: 25% to 49% </label>
        <input type="radio" id="humidity2" name="RelativeHumidity" value="high">
        <label for="humidity2">High: 50% or higher</label>
    </fieldset>
  </div>
  <div>
    <fieldset>
      <legend>Water:</legend>
        <input type="radio" id="water0" name="Water" value="moderately dry">
        <label for="water0">Soil mix can become moderately dry before re-watering</label>
        <input type="radio" id="water1" name="Water" value="should dry">
        <label for="water1">Surface of soil mix should dry before re-watering</label>
        <input type="radio" id="water2" name="Water" value="moist">
        <label for="water2">Keep soil mix moist</label>
    </fieldset>
  </div>
  <div>
    <fieldset>
      <legend>Soil Mix:</legend>
        <input type="radio" id="soil0" name="SuggestedSoilMix" value="flowering">
        <label for="soil0">Flowering house plants</label>
        <input type="radio" id="soil1" name="SuggestedSoilMix" value="foliage">
        <label for="soil1">Foliage plants</label>
        <input type="radio" id="soil2" name="SuggestedSoilMix" value="bromeliads">
        <label for="soil2">Bromeliads</label>
        <input type="radio" id="soil3" name="SuggestedSoilMix" value="orchids">
        <label for="soil3">Orchids</label>
        <input type="radio" id="soil4" name="SuggestedSoilMix" value="succulents">
        <label for="soil4">Succulents and cacti</label> 
        <input type="radio" id="soil5" name="SuggestedSoilMix" value="ferns">
        <label for="soil5">Ferns</label> 
        <input type="radio" id="soil6" name="SuggestedSoilMix" value="gesneriads">
        <label for="soil6">African violets and other Gesneriads</label> 
    </fieldset>
  </div>
  <button type="submit">Search</button>
</form>
<div>
  <% plants.forEach((plant, index) => { %>
    <a href="/plants/<%= plant._id %>">
      <%- plantsImageTags[index] %>
    </a>
  <% }) %>
</div>